<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@Title</title>
    <meta name="description" content="@ViewBag.MetaDescription" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="@Model.Root/favicon.png">

    <link rel="stylesheet" type="text/css" href="@Model.Root/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <!-- FSharp.Formatting Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="@Model.Root/fsharp.formatting/tooltips.css" />
    <script type="text/javascript" src="@Model.Root/fsharp.formatting/tooltips.js"></script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body class="@ViewBag.BodyClass nav-closed">

    <div class="nav">
        <h3 class="nav-title">Menu</h3>
        <a href="#" class="nav-close">
            <span class="hidden">Close</span>
        </a>
        <ul>
            <li class="nav-home nav-current" role="presentation"><a href="@(Model.Root)/index.html">Home</a></li>
            <li class="nav-about" role="presentation"><a href="@(Model.Root)/about-sync-today/index.html">About</a></li>
            <li class="nav-installation" role="presentation"><a href="@(Model.Root)/install-sync-today/index.html">Installation</a></li>
            <li class="nav-configuration" role="presentation"><a href="@(Model.Root)/configure-sync-today/index.html">Configuration</a></li>
            <li class="nav-start-a-blog" role="presentation"><a href="@(Model.Root)/customize-sync-today/index.html">Customizations</a></li>
            <li class="nav-start-a-blog" role="presentation"><a href="@(Model.Root)/blog/index.html">Blog</a></li>
        </ul>
        <a class="subscribe-button icon-feed" href="@Model.Root/rss.xml">Subscribe</a>
    </div>
    <span class="nav-cover"></span>

    <div class="site-wrapper">

        @RenderBody()

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="@Model.Root">@Model.BlogTitle</a> &copy; 2013-@DateTime.Now.Year Sync.Today Ltd., 2 Woodberry Grove, N12 0DR London, United Kingdom.<a href="tel:00442032879681">+44 20 3287 9681</a></section>
            <section class="poweredby">Proudly published with <a href="https://github.com/fsprojects/FsBlog">FsBlog</a></section>
        </footer>

    </div>

    @*@RenderSection("Foot", required: false)*@

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="@Model.Root/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="@Model.Root/js/index.js"></script>

</body>
</html>
