@{
    Layout = "default";
    Title = "Sync.Today - Business Processes Automation Platform";
    Description = "Application Integration Server. Like an Instagram filter to your Business Data. Written in F#.";
}
@using System.Linq

<header class="main-header no-cover">
    <nav class="main-nav overlay clearfix">
        <a class="blog-logo" href="@(Model.Root)/index.html">Sync.Today Home</a>
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">@Model.BlogTitle</h1>
            <h2 class="page-description">@(Description) <a href="@(Model.Root)/about-sync-today/index.html">More...</a></h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

    <main id="content" class="content" role="main">
        <article class="post">
            <p>Add Sync.Today to your infrastructure and find the perfect companion to your enterprise applications.</p>
            <p>Make your colleagues happy by providing them the easiest way to get to the data they need through the mobile phone, Microsoft Office application or any other convenient way.</p>
            <p>Learn more about your data as they are liberated from their former representations and explore them using Google-like search or Business Intelligence dashboards.</p>
            <p>Protect your data, have them safely stored in your applications and make only carefully selected and filtered views accessible through Sync.Today.</p>
        </article>

            @foreach (var post in Enumerable.Take(Model.Posts, 1))
            {
                <article class="post">

                    <header class="post-header">
                        <h1 class="post-title"><a href="@Model.Root/blog/@post.Url/index.html">@post.Title</a></h1>
                    </header>
                    <footer class="post-meta">
                        <time class="post-date" datetime="@post.Date.ToString("yyyy-MM-dd")">@post.Date.ToString("dd MMMM yyyy")</time>
                    </footer>
                </article>
            }
</main>
